.connected {
    text-align: center;
}

.battery-info {
    font-size: large;
}

.battery-value {
    display: block;
    font-size: 72px;
}

.pop-up-body {
    width: 200px;
    height: 180px;
    background: #F3E5F5;
}

.charging-status {
    font-size: small;
}


.green {
    color: #006f3c;
}

.blue {
    color: #264b96;
}

.red {
    color: #bf212f;
}